@import url("style/lists.css");
@import url("style/containers.css");
:root {
  --bg: #17131c;
  --inline-code: #22272a;
  --inline-code-border: #326232;
}

p {
  padding: 0;
  margin: 0;
}

html {
  background-color: var(--bg);
}


.main {
  padding-left: 10%;
  padding-right: 10%;
  color: white;
  font-size: 15pt;
}

.header {
  font-size: 24pt;
}

.inline {
  background-color: var(--inline-code);
  border-radius: 3pt;
  border-width: 2pt;
  border-style: solid;
  border-color: var(--inline-code-border);
  padding: 0pt 8pt 0pt 8pt;
}

.subcommand {
  color: gold;
  padding-left: 10pt;
}

.subcommand-dsc {
  padding-left: 15pt;
  margin-top: 5pt;
  margin-bottom: 5pt;
}

.option {
  color: blue;
}

.block {
  text-align: center;
  background-color: #474354;
  border-radius: 3pt;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.float-left {
  float: left;
}
