@import url("style/lists.css");
@import url("style/containers.css");
:root {
  --bg: #17131c;
  --inline-bg: #22272a;
  --inline-code-border: #326282;
  --subcmd-bg: var(--bg);
  --subcmd-color: #fefeff;
  --subcmd-border: var(--inline-code-border);
  --font-size: 15pt;
}

p {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 15pt;

}

html {
  background-color: var(--bg);
}


.main {
  padding-left: 10%;
  padding-right: 10%;
  color: white;
  font-size: 15pt;
}

.header {
  font-size: 24pt;
}

.inline {
  background-color: var(--inline-bg);
  border-radius: 3pt;
  border-width: 2pt;
  border-style: solid;
  border-color: var(--inline-code-border);
  padding: 0pt 8pt 0pt 8pt;
  font-size: var(--font-size);
}

.subcmd-container {
  border-left: 3px dotted var(--subcmd-border);
  margin-left: 8pt;
  margin-bottom: 8pt;
}

.subcommand {
  display: inline;
  color: var(--subcmd-color);
  padding: 0pt 8pt 0pt 8pt;
  background-color: var(--subcmd-bg);
  border: 2px solid var(--subcmd-border);
  border-radius: 3pt;
}

.subcmd-dsc {
  padding-left: 15pt;
  margin-top: 5pt;
  margin-bottom: 5pt;
}

.option {
  color: blue;
}

.block {
  text-align: center;
  background-color: #474354;
  border-radius: 3pt;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.float-left {
  float: left;
}
